# 0. Exploración inicial de datos (EDA) - Notebook

In [ ]:
#Imports
import os
import sqlite3
import pandas as pd

## 1. EDA Nº1 - Exploración de resultados de elecciones generales

In [42]:
# Ruta relativa desde el proyecto
relative_path = os.path.join('..', 'data', 'processed', 'resultados_elecciones.sqlite')

# Verificar si el archivo existe
if not os.path.exists(relative_path):
    raise FileNotFoundError(f"❌ Archivo no encontrado: {relative_path}")

# Conectarse a la base de datos
conn = sqlite3.connect(relative_path)

# Verificar tablas
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("Tablas disponibles:")
print(tables)

Tablas disponibles:
                   name
0  resultados_generales

In [ ]:
dfa = pd.read_sql("SELECT * FROM resultados_generales", conn)

# EDA básica
print(dfa.head())

print(dfa.tail())

print(dfa.shape)

print(dfa.dtypes)

print(dfa.isnull().sum())

dfa_porcentajes = dfa[dfa['Dato'].isin(['Votantes a las 14:00', 'Votantes a las 18:00', 'Votantes'])]

stats = dfa_porcentajes.groupby('Dato')['Porcentaje'].describe()
print(stats)

     Mes   Año                   Dato     Valor  Porcentaje ¿GobiernoFormado?  \
0  Marzo  1979              Población  37757534         NaN                Si
1  Marzo  1979   Votantes a las 14:00   9665733       36.02                Si
2  Marzo  1979   Votantes a las 18:00  15250686       56.83                Si
3  Marzo  1979  Total censo electoral  26836490         NaN                Si
4  Marzo  1979               Votantes  18259192       68.04                Si

  PartidoFormadorGobierno
0                     UCD
1                     UCD
2                     UCD
3                     UCD
4                     UCD
       Mes   Año                   Dato     Valor  Porcentaje  \
98   Julio  2023   Votantes a las 18:00  18671607       53.13
99   Julio  2023   Votantes a las 20:00  24744016       70.41
100  Julio  2023  Total censo electoral  37469458         NaN
101  Julio  2023               Votantes  24952447       66.59
102  Julio  2023           Abstenciones  12517011       33.41

    ¿GobiernoFormado? PartidoFormadorGobierno
98                 Si                    PSOE
99                 Si                    PSOE
100                Si                    PSOE
101                Si                    PSOE
102                Si                    PSOE
(103, 7)
Mes                         object
Año                         object
Dato                        object
Valor                        int64
Porcentaje                 float64
¿GobiernoFormado?           object
PartidoFormadorGobierno     object
dtype: object
Mes                         0
Año                         0
Dato                        0
Valor                       0
Porcentaje                 30
¿GobiernoFormado?           0
PartidoFormadorGobierno    14
dtype: int64
                      count       mean       std    min     25%    50%  \
Dato
Votantes               15.0  71.330000  4.342797  66.23  68.375  69.74
Votantes a las 14:00   15.0  38.934000  2.143848  35.78  36.940  39.75
Votantes a las 18:00   15.0  58.330667  3.678908  51.21  56.465  57.65

                         75%    max
Dato
Votantes              74.755  79.97
Votantes a las 14:00  40.690  41.83
Votantes a las 18:00  61.260  63.45

## 2. EDA Nº2 - Exploración de participación de elecciones por municipio

In [41]:
# Ruta relativa desde el proyecto
relative_path = os.path.join('..', 'data', 'processed', 'Elecciones_Consolidadas.sqlite')

# Verificar si el archivo existe
if not os.path.exists(relative_path):
    raise FileNotFoundError(f"❌ Archivo no encontrado: {relative_path}")

# Conectarse a la base de datos
conn = sqlite3.connect(relative_path)

# Verificar tablas
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("Tablas disponibles:")
print(tables)

Tablas disponibles:
                             name
0          resultados_municipales
1  resultados_municipales_Cleaned

In [12]:
dfb = pd.read_sql("SELECT * FROM resultados_municipales", conn)

# EDA básica
print(dfb.head(10))

print(dfb.tail())

print(dfb['Participación'])

print(dfb.shape)

print(dfb.dtypes)

print(dfb.isnull().sum())

    Año    Mes                               Nombre_de_Comunidad  \
0  None   None                                              None
1  None   None                                              None
2  1979  Marzo  Congreso | Marzo 1979 | Resultados por municipio
3  1979  Marzo                                              None
4  1979  Marzo                                              None
5  1979  Marzo                               Nombre de Comunidad
6  1979  Marzo                    Andalucía
7  1979  Marzo                    Andalucía
8  1979  Marzo                    Andalucía
9  1979  Marzo                    Andalucía

   Codigo_de_Provincia             Nombre_de_Provincia  Codigo_de_Municipio  \
0                 None                            None                 None
1                 None                            None                 None
2                 None                            None                 None
3                 None                            None                 None
4                 None                            None                 None
5  Código de Provincia             Nombre de Provincia  Código de Municipio
6                    4  Almería                                           1
7                    4  Almería                                           2
8                    4  Almería                                           3
9                    4  Almería                                           4

                                 Nombre_de_Municipio  Poblacion  \
0                                               None       None
1                                               None       None
2                                               None       None
3                                               None       None
4                                               None       None
5                                Nombre de Municipio  Población
6  ABLA                                          ...       1775
7  ABRUCENA                                      ...       1825
8  ADRA                                          ...      16993
9  ALBANCHEZ                                     ...       1078

   Numero_de_Mesas  Total_Censo_Electoral  ...   102   103   104   105   106  \
0             None                   None  ...  None  None  None  None  None
1             None                   None  ...  None  None  None  None  None
2             None                   None  ...  None  None  None  None  None
3             None                   None  ...  None  None  None  None  None
4             None                   None  ...  None  None  None  None  None
5  Número de mesas  Total censo electoral  ...  None  None  None  None  None
6                1                   1292  ...  None  None  None  None  None
7                1                   1279  ...  None  None  None  None  None
8               18                  10815  ...  None  None  None  None  None
9                1                    856  ...  None  None  None  None  None

    107   108   109   110     Municipio_Limpio
0  None  None  None  None                 None
1  None  None  None  None                 None
2  None  None  None  None                 None
3  None  None  None  None                 None
4  None  None  None  None                 None
5  None  None  None  None  NOMBRE DE MUNICIPIO
6  None  None  None  None                 ABLA
7  None  None  None  None             ABRUCENA
8  None  None  None  None                 ADRA
9  None  None  None  None            ALBANCHEZ

[10 rows x 115 columns]
         Año    Mes   Nombre_de_Comunidad Codigo_de_Provincia  \
121463  2023  Julio  Comunitat Valenciana                  46
121464  2023  Julio  Comunitat Valenciana                  46
121465  2023  Julio  Comunitat Valenciana                  46
121466  2023  Julio       Ciudad de Ceuta                  51
121467  2023  Julio     Ciudad de Melilla                  52

        Nombre_de_Provincia Codigo_de_Municipio       Nombre_de_Municipio  \
121463  Valencia / València                 902                    Gátova
121464  Valencia / València                 903  San Antonio de Benagéber
121465  Valencia / València                 904        Benicull de Xúquer
121466                Ceuta                   1                     Ceuta
121467              Melilla                   1                   Melilla

       Poblacion Numero_de_Mesas Total_Censo_Electoral  ...   102   103   104  \
121463       412               1                   373  ...  None  None  None
121464      9874              10                  6934  ...  None  None  None
121465      1102               1                   894  ...  None  None  None
121466     83117              96                 60335  ...  None  None  None
121467     85170              87                 55150  ...  None  None  None

         105   106   107   108   109   110          Municipio_Limpio
121463  None  None  None  None  None  None                    GáTOVA
121464  None  None  None  None  None  None  SAN ANTONIO DE BENAGéBER
121465  None  None  None  None  None  None        BENICULL DE XúQUER
121466  None  None  None  None  None  None                     CEUTA
121467  None  None  None  None  None  None                   MELILLA

[5 rows x 115 columns]
0           None
1           None
2           None
3           None
4           None
           ...
121463    0.8525
121464    0.7866
121465    0.7696
121466    0.5566
121467    0.4981
Name: Participación, Length: 121468, dtype: object
(121468, 115)
Año                    object
Mes                    object
Nombre_de_Comunidad    object
Codigo_de_Provincia    object
Nombre_de_Provincia    object
                        ...
107                    object
108                    object
109                    object
110                    object
Municipio_Limpio       object
Length: 115, dtype: object
Año                         2
Mes                         2
Nombre_de_Comunidad        60
Codigo_de_Provincia        75
Nombre_de_Provincia        75
                        ...
107                     97137
108                     97137
109                    105248
110                    113354
Municipio_Limpio           75
Length: 115, dtype: int64

## 3. EDA Nº3 - Exploración de renta por municipio

In [40]:
# Ruta relativa desde el proyecto
relative_path = os.path.join('..', 'data', 'processed', 'Datos_Renta_Municipios.sqlite')

# Verificar si el archivo existe
if not os.path.exists(relative_path):
    raise FileNotFoundError(f"❌ Archivo no encontrado: {relative_path}")

# Conectarse a la base de datos
conn = sqlite3.connect(relative_path)

# Verificar tablas
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("Tablas disponibles:")
print(tables)

Tablas disponibles:
                             name
0          Datos_Renta_Municipios
1  Datos_Renta_Municipios_Cleaned

In [14]:
dfc = pd.read_sql("SELECT * FROM Datos_Renta_Municipios", conn)

# EDA básica
print(dfc.head())

print(dfc.tail())

# Verificar valores únicos en la columna 'Indicadores de renta media'

print(dfc['Indicadores de renta media'].unique())

print(dfc.shape)

print(dfc.dtypes)

print(dfc.describe)

               Municipios Distritos Secciones    Indicadores de renta media  \
0  01001 Alegría-Dulantzi      None      None  Renta neta media por persona
1  01001 Alegría-Dulantzi      None      None  Renta neta media por persona
2  01001 Alegría-Dulantzi      None      None  Renta neta media por persona
3  01001 Alegría-Dulantzi      None      None  Renta neta media por persona
4  01001 Alegría-Dulantzi      None      None  Renta neta media por persona

   Periodo   Total  Municipio_Limpio
0     2022  15.116  ALEGRíA-DULANTZI
1     2021  14.647  ALEGRíA-DULANTZI
2     2020  13.969  ALEGRíA-DULANTZI
3     2019  14.299  ALEGRíA-DULANTZI
4     2018  13.361  ALEGRíA-DULANTZI
           Municipios Distritos Secciones   Indicadores de renta media  \
390619  52001 Melilla      None      None  Renta bruta media por hogar
390620  52001 Melilla      None      None  Renta bruta media por hogar
390621  52001 Melilla      None      None  Renta bruta media por hogar
390622  52001 Melilla      None      None  Renta bruta media por hogar
390623  52001 Melilla      None      None  Renta bruta media por hogar

        Periodo   Total Municipio_Limpio
390619     2019  43.936          MELILLA
390620     2018  41.830          MELILLA
390621     2017  40.426          MELILLA
390622     2016  39.968          MELILLA
390623     2015  39.402          MELILLA
['Renta neta media por persona' 'Renta neta media por hogar'
 'Media de la renta por unidad de consumo'
 'Mediana de la renta por unidad de consumo'
 'Renta bruta media por persona' 'Renta bruta media por hogar']
(390624, 7)
Municipios                    object
Distritos                     object
Secciones                     object
Indicadores de renta media    object
Periodo                        int64
Total                         object
Municipio_Limpio              object
dtype: object
<bound method NDFrame.describe of                     Municipios Distritos Secciones  \
0       01001 Alegría-Dulantzi      None      None
1       01001 Alegría-Dulantzi      None      None
2       01001 Alegría-Dulantzi      None      None
3       01001 Alegría-Dulantzi      None      None
4       01001 Alegría-Dulantzi      None      None
...                        ...       ...       ...
390619           52001 Melilla      None      None
390620           52001 Melilla      None      None
390621           52001 Melilla      None      None
390622           52001 Melilla      None      None
390623           52001 Melilla      None      None

          Indicadores de renta media  Periodo   Total  Municipio_Limpio
0       Renta neta media por persona     2022  15.116  ALEGRíA-DULANTZI
1       Renta neta media por persona     2021  14.647  ALEGRíA-DULANTZI
2       Renta neta media por persona     2020  13.969  ALEGRíA-DULANTZI
3       Renta neta media por persona     2019  14.299  ALEGRíA-DULANTZI
4       Renta neta media por persona     2018  13.361  ALEGRíA-DULANTZI
...                              ...      ...     ...               ...
390619   Renta bruta media por hogar     2019  43.936           MELILLA
390620   Renta bruta media por hogar     2018  41.830           MELILLA
390621   Renta bruta media por hogar     2017  40.426           MELILLA
390622   Renta bruta media por hogar     2016  39.968           MELILLA
390623   Renta bruta media por hogar     2015  39.402           MELILLA

[390624 rows x 7 columns]>

## 4. EDA Nº4 - Exploración de renta y participación

In [37]:
# Ruta relativa desde el proyecto
relative_path = os.path.join('..', 'data', 'processed', 'Renta_y_Participacion.sqlite')

# Verificar si el archivo existe
if not os.path.exists(relative_path):
    raise FileNotFoundError(f"❌ Archivo no encontrado: {relative_path}")

# Conectarse a la base de datos
conn = sqlite3.connect(relative_path)

# Verificar tablas
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("Tablas disponibles:")
print(tables)

Tablas disponibles:
                    name
0  Renta_y_Participacion

In [ ]:
# Cargar la tabla
dfd = pd.read_sql("SELECT * FROM Renta_y_Participacion", conn)

# Convertir participación a numérico si es necesario
if dfd['Participación'].dtype == 'object':
    dfd['Participación'] = pd.to_numeric(dfd['Participación'], errors='coerce')

print("\n Dimensiones del DataFrame:")
print(dfd.shape)

print("\n Columnas y tipos de datos:")
print(dfd.dtypes)

print("\n Valores nulos por columna:")
print(dfd.isnull().sum())

print("\n Estadísticas descriptivas:")
display(dfd.describe(include='all'))

print("\n Cuartiles de renta media:")
print(dfd['Cuartil_Renta_Media'].value_counts().sort_index())

print("\n Cuartiles de renta mediana:")
print(dfd['Cuartil_Renta_Mediana'].value_counts().sort_index())

print("\n Correlaciones:")
display(dfd[['Participación', 'Renta_Media', 'Renta_Mediana_Hogar']].corr())

 Dimensiones del DataFrame:
(22041, 8)

 Columnas y tipos de datos:
Municipio                 object
Año                        int64
Mes_Elecciones            object
Participación            float64
Renta_Media              float64
Renta_Mediana_Hogar      float64
Cuartil_Renta_Media       object
Cuartil_Renta_Mediana     object
dtype: object

 Valores nulos por columna:
Municipio                0
Año                      0
Mes_Elecciones           0
Participación            0
Renta_Media              0
Renta_Mediana_Hogar      0
Cuartil_Renta_Media      0
Cuartil_Renta_Mediana    0
dtype: int64

 Estadísticas descriptivas:

,Municipio,Año,Mes_Elecciones,Participación,Renta_Media,Renta_Mediana_Hogar,Cuartil_Renta_Media,Cuartil_Renta_Mediana
count,22041,22041.000000,22041,22041.000000,22041.000000,22041.000000,22041,22041
unique,5998,NaN,4,NaN,NaN,NaN,4,4
top,MOYA,NaN,Junio,NaN,NaN,NaN,Q1,Q1
freq,8,NaN,5933,NaN,NaN,NaN,5645,7333
mean,NaN,2017.400481,NaN,0.742660,10940.888662,14354.033392,NaN,NaN
std,NaN,1.741325,NaN,0.067095,2326.257575,3265.526652,NaN,NaN
min,NaN,2015.000000,NaN,0.000000,3281.000000,5250.000000,NaN,NaN
25%,NaN,2016.000000,NaN,0.700600,9237.000000,12250.000000,NaN,NaN
50%,NaN,2019.000000,NaN,0.746900,10718.000000,13650.000000,NaN,NaN
75%,NaN,2019.000000,NaN,0.789500,12325.000000,16450.000000,NaN,NaN
max,NaN,2019.000000,NaN,0.964900,26367.000000,31850.000000,NaN,NaN

 Cuartiles de renta media:
Cuartil_Renta_Media
Q1    5645
Q2    5611
Q3    5487
Q4    5298
Name: count, dtype: int64

 Cuartiles de renta mediana:
Cuartil_Renta_Mediana
Q1    7333
Q2    3834
Q3    6204
Q4    4670
Name: count, dtype: int64

 Correlaciones:

                     Participación  Renta_Media  Renta_Mediana_Hogar
Participación             1.000000     0.092832             0.070170
Renta_Media               0.092832     1.000000             0.930615
Renta_Mediana_Hogar       0.070170     0.930615             1.000000